.logo {
    position: absolute;
    width: 200px;
    height: 27px;
    left: 25px;
    top: 0.75rem;
    fill: #fff;
}



.mainHeader {
    display: flex;
    /* position: relative; */
    width: 100%;
    margin: 0 1fr;
    position: fixed;
    justify-content: space-between;
    z-index: 99;

}

.mainHeader ul {
    display: flex;
    align-items: center;
}

.mainHeader li {
    font-size: var(--fs-small);
    font-weight: 400;
    margin-inline: .9rem;
    position: relative;
}

.headerInner {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.navLeft {
    width: max-content;
    display: flex;
    justify-content: space-between;
    margin-left: 275px;
    margin-block: 2rem;
}

.navRight {
    position: relative;
    width: 8rem;
    display: flex;
    align-items: center;
    margin-right: 2rem;

}



/* Menu Items Animation */
.navLeft a::after,
.navRight a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right center;
}

.navLeft a:hover::after,
.navRight a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.4s;
}

@media screen and (max-width: 1120px) {
    .navLeft {
        margin-left: 245px;
    }

    .mainHeader li {
        margin-inline: .5rem;
    }
}