@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500;600;700&display=swap');

@import url('http://fonts.cdnfonts.com/css/d-din');



/* Start Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--ff-primary);
  background: #000;
  color: #fff;
  text-transform: uppercase;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: #fff;
}

#root,
#__next {
  isolation: isolate;
}

/* End Reset */

:root {
  --ff-primary: 'D-DIN', sans-serif;

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fs-xsmall: .75rem;
  --fs-small: .875rem;
  --fs-medium: 1.25rem;
  --fs-large: 3rem;
  --fs-xlarge: 6.25rem;
  --fs-xxlarge: 8.75rem;

}

h2 {
  font-size: var(--fs-large);
}

h4 {
  font-size: var(--fs-medium);
  font-weight: var(--fw-regular);
}