.sectionA {
  background: url('/img/home-a.webp');
}

.sectionB {
  background: url('/img/home-b.webp');
}

.sectionC {
  background: url('/img/home-c.webp');
}

.sectionD {
  background: url('/img/home-d.webp');
}

.section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.sectionInner {
  margin-bottom: 8.5rem;
  margin-left: 3rem;
  max-width: 25rem;
  padding-right: 3rem;
}

.sectionInner h2 {
  margin-bottom: 2rem;
  line-height: 1;
}

.btn {
  display: flex;
  width: max-content;
  font-weight: var(--fw-semibold);
  font-size: var(--fs-small);
  background-image: linear-gradient(#fff, #fff);
  background-size: 100% 0;
  background-position: top;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  padding: .9rem 3rem;
  transition: .3s, background-position 0s;
}

.btn:hover {
  background-size: 100% 100%;
  background-position: bottom;
  color: black;
  font-weight: var(--fw-semibold);
}