.hero {
    background-image: url('/img/f9-hero.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: var(--fs-xlarge);
}

.counter {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    padding-inline: 2rem;
    margin: 50px auto;
}

.counter h2 {
    font-weight: 400;
    font-size: var(--fs-xxlarge);
    line-height: 160px;
}

.counter h4 {
    text-align: center;
    font-size: var(--fs-medium);
}